<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Group</title>
    <link rel="stylesheet" href="static/style.css" />
    <link
      rel="shortcut icon"
      href="static/img/OnTime.PNG"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="topnav">
      <div
        class="topnav-logo"
        onclick="location.href='/'"
        ,
        style="padding: 0; cursor: pointer"
      >
        <img src="img/OnTime.PNG" alt="Logo" srcset="" />
        <h2>OnTime</h2>
      </div>
      <div id="user">
        <h3>Hi, Yeriel</h3>
        <h3>Points: 1000</h3>
      </div>
      <h3
        onclick="location.href='/login'"
        ,
        style="padding: 0; cursor: pointer"
      >
        <u>Log Out</u>
      </h3>
    </div>
    <div class="container">
      <h3>Create Group</h3>
      <form action="/create-group" method="post">
        <div class="input-row">
          <label for="group_name">Group Code</label>
          <input
            class="input-text"
            type="text"
            id="group_name"
            name="group_name"
          />
        </div>
        <input type="submit" value="Submit" style="float: right" />
      </form>
    </div>
  </body>
</html>
