<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="OnTimeRaw.PNG" type="image/x-icon">
  </head>
  <body>
    <div class="topnav">
      <img src="OnTime.PNG" alt="Logo" srcset="">
      <h3>OnTime</h3>
      <h3 id="username">Hi, Yeriel</h3>
    </div>
<div class="main-content">
    <div class="container-wrapper">
        <div class="left-container">
          <div id="drop-area">
            <h2>Mandi 24/08/2024 12.00 PM</h2>
            <label for="input-file" id="file-input">
              <input type="file" accept="image/*" id="input-file" hidden />
              <div id="img-view">
                <img src="cloud-upload.svg" alt="" srcset="" />
                <p>Drag and drop or click here<br />to upload image</p>
              </div>
            </label>
          </div>
        </div>
        <div class="right-container">
          <div id="buttons">
            <a href="add-task.html"><button class="buttonk">+ Add Task</button></a>
            <a href="join-group.html"><button class="button">+ Join Group</button></a>
          </div>
            <h3>Schedule</h3>
            <div class="container-task">
              <ul class="ul">
                <li class="li">Task</li>
                <li class="li">Task</li>
                <li class="li">Task</li>
                <li class="li">Task</li>
                <li class="li">Task</li>
                <li class="li">Task</li>
                <li class="li">Task</li>
                <li class="li">Task</li>
                <li class="li">Task</li>
                <li class="li">Task</li>
                <li class="li">Task</li>
                <li class="li">Task</li>
                <li class="li">Task</li>
              </ul>
            </div>
          <!--<a href="add-group.html"><button class="button-group">+ Add Group</button></a>-->
          <h3>Groups</h3>
          <div class="container-group">
            <ul class="ul-group">
              <li id="li-group">Group 1</li>
              <li id="li-group">Group 2</li>
              <li id="li-group">Group 3</li>
              <li id="li-group">Group 4</li>
              <li id="li-group">Group 5</li>
              <li id="li-group">Group 6</li>
              <li id="li-group">Group 7</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
