<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="static/style.css" />
    <link
      rel="shortcut icon"
      href="static/img/OnTime.PNG"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="topnav">
      <div
        class="topnav"
        onclick="location.href='/'"
        ,
        style="padding: 0; cursor: pointer"
      >
        <img src="static/img/OnTime.PNG" alt="Logo" srcset="" />
        <h2>OnTime</h2>
      </div>
      <h3 id="username">Hi, Yeriel</h3>
      <h3>Points: 1000</h3>
      <h3
        onclick="location.href='/login'"
        ,
        style="padding: 0; cursor: pointer"
      >
        <u>Log Out</u>
      </h3>
    </div>
    <div class="main-content">
      <div class="container-wrapper">
        <div class="left-container">
          <div id="drop-area">
            <h2>{{ task["task_name"] }} {{ task["task_time"] }}</h2>
            <label for="input-file" id="file-input">
              <input type="file" accept="image/*" id="input-file" hidden />
              <div id="img-view">
                <img src="static/img/cloud-upload.svg" alt="" srcset="" />
                <p>Drag and drop or click here<br />to upload image</p>
              </div>
            </label>
          </div>
        </div>
        <div class="right-container">
          <button class="button" onclick="location.href='/add-task'">
            + Add Task
          </button>
          <h3>Schedule</h3>
          <div class="container-task">
            <ul class="ul-time">
              {% for schedule in schedules%}
              <li class="li-time">{{schedule["task_time"]}}</li>
              {% endfor %}
            </ul>
            <ul class="ul-task">
              {% for schedule in schedules%}
              <li class="li-task">{{schedule["task_name"]}}</li>
              {% endfor %}
            </ul>
          </div>
          <h3>Groups</h3>
          <div class="container-group">
            <ul class="ul-group">
              <li
                id="li-group"
                onclick="location.href='/add-group'"
                style="background: #5ab2ff; color: white"
                onmouseover="style='background: #4a9edc; color: white; transition: 500ms;'"
                onmouseleave="style='background: #5ab2ff; color: white; transition: 500ms;'"
              >
                + Join Group
              </li>
              {% for group in groups%}
              <li class="li-group" onclick="location.href='/group'">
                {{group["group_name"]}}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
