{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
main %}
<form action="/register" method="post" class="login">
  <input
    class="input-username"
    autocomplete="off"
    autofocus
    name="username"
    placeholder="Username"
    type="text"
  />
  <input
    class="input-password"
    name="password"
    placeholder="Password"
    type="password"
  />
  <input
    class="input-password"
    name="confirmation"
    placeholder="Confirmed Password"
    type="password"
  />
  <button class="button" type="submit">Register</button>
</form>
{% endblock %}
